{
	"presets": [
		"es2015",
		"react"
	],
	"plugins": [
		"transform-object-rest-spread",
    "transform-class-properties",
    "transform-decorators",
    "add-module-exports",
    "react-html-attrs"
	],
	"compact": true
}
