@import "../variables";

.app-feed {
	section {
		background-color: #fff;
		border: 1px solid #ccc;
		padding: 1rem;
	}
	.row {
		margin: 1rem 0 0;
	}
}

.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
