.selected {
	color: red;

	&:hover {
		color: red;
	}
}

.layout-container {
	margin: 20px;
	background-color: #eaf0ce;
	padding: 20px;
}

.module-wrapper {
	padding: 20px;
	background-color: #c0c5c1;
}

.page-content {
	padding: 20px;
	background-color: #7d8491;
}

.component-wrapper {
	padding: 20px;
	background-color: #574060
}
