$spacer: 1rem;
$enable-flex: true;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;
$enable-transitions: true;
$enable-hover-media-query: true;
$enable-grid-classes: true;
$font-size-root: 14px;
